.filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background: #ffffff;
  border-radius: 8px;
  padding-top: 16px;
}

.filters-left {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 10px;
  flex: 1;
}

.filters-right {
  display: flex;
  gap: 10px;
}

.apply-btn {
  background-color: #e5e7eb; /* grey */
  color: #6b7280;
  cursor: not-allowed;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

.apply-btn.active {
  background-color: rgb(231, 102, 11); /* blue */
  color: #ffffff;
  cursor: pointer;
}

.apply-btn:disabled {
  opacity: 0.8;
}

.clear-btn {
  background: #ffffff;
  border: 1px solid #d1d5db;
  padding: 8px 18px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.multi-count {
  padding: 2px 8px;
  font-size: 12px;
  color: rgb(231, 102, 11);
  background-color: #fff7ed;
  border-radius: 4px;
  margin-left: 4px;
}

/* Custom Dropdown Styles */
.dropdown-search-container {
  padding: 8px 12px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.dropdown-search-input {
  width: 100%;
  padding: 8px 12px;
  border: none;
  background-color: #f3f4f6;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  color: #374151;
}

.dropdown-select-all {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #f3f4f6;
}

.dropdown-select-all:hover {
  background-color: #f9fafb;
}

.dropdown-item-label {
  margin-left: 8px;
  font-size: 14px;
  color: #374151;
}

.dropdown-checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
  accent-color: rgb(231, 102, 11);
  border-radius: 4px;
}

.dropdown-list-container {
  max-height: 400px;
  /* overflow-y: auto; */
  /* overflow-y: scroll; */
}

/* Checkbox alignment in row */
.dropdown-option-row {
  display: flex;
  align-items: center;
}

.dropdown-footer {
  padding: 8px;
  border-top: 1px solid #e5e7eb;
  background-color: #ffffff;
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.dropdown-clear-btn {
  width: 100%;
  background-color: #ffffff;
  color: rgb(231, 102, 11);
  border: 1px solid #e5e7eb;
  padding: 8px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown-clear-btn:hover {
  background-color: #fff7ed;
  border-color: rgb(231, 102, 11);
}
